In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)



# Any results you write to the current directory are saved as output.

In [50]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [60]:
datasets = [train, test]

In [64]:
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PassengerId         891 non-null    int64
 1   Survived            891 non-null    int64
 2   Pclass              891 non-null    int64
 3   Name                891 non-null    object
 4   Sex                 891 non-null    object
 5   Age                 714 non-null    float64
 6   SibSp               891 non-null    int64
 7   Parch               891 non-null    int64
 8   Ticket              891 non-null    object
 9   Fare                891 non-null    float64
 10  Cabin               204 non-null    object
 11  Embarked            889 non-null    object
 12  lastNaam            891 non-null    object
 13  title               891 non-null    object
 14  givenNames          891 non-null    object
 15  numberOfGivenNames  891 non-null    int64
 16  maidenGivenNames    143 non-null    object
 17  maidenLastName      143 non-null    object
dtypes: float64(2), int64(6), object(10)
memory usage: 125.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PassengerId         418 non-null    int64
 1   Pclass              418 non-null    int64
 2   Name                418 non-null    object
 3   Sex                 418 non-null    object
 4   Age                 332 non-null    float64
 5   SibSp               418 non-null    int64
 6   Parch               418 non-null    int64
 7   Ticket              418 non-null    object
 8   Fare                417 non-null    float64
 9   Cabin               91 non-null     object
 10  Embarked            418 non-null    object
 11  lastNaam            418 non-null    object
 12  title               418 non-null    object
 13  givenNames          418 non-null    object
 14  numberOfGivenNames  418 non-null    int64
 15  maidenGivenNames    78 non-null     object
 16  maidenLastName      78 non-null     object
dtypes: float64(2), int64(5), object(10)
memory usage: 55.6+ KB

In [70]:
print(train["Embarked"])

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [62]:
def splitName(name):
    x = name.split(", ")
    lastNaam = x[0]
    y = x[1].split(". ")
    title = y[0]
    x = y[1].split("(")
    givenNames = x[0].rstrip()   
    if len(x) > 1:
        y = x[1].strip(")").split(" ")
        maidenLastName = y[len(y)-1]
        maidenGivenNames = x[1].strip(")")
        maidenGivenNames = maidenGivenNames.strip(maidenLastName)
        maidenGivenNames = maidenGivenNames.rstrip()
    else:
        maidenGivenNames = None
        maidenLastName = None
    if maidenGivenNames == None:
        z = givenNames.split(" ")
    else:
        z = maidenGivenNames.split(" ")
    numberOfGivenNames = len(z)

    return [lastNaam, title, givenNames, numberOfGivenNames, 
            maidenGivenNames, maidenLastName]
for dataset in datasets:
    dataset["lastNaam"] = dataset["Name"].apply(lambda x: splitName(x)[0])
    dataset["title"] = dataset["Name"].apply(lambda x: splitName(x)[1])
    dataset["givenNames"] = dataset["Name"].apply(lambda x: splitName(x)[2])
    dataset["numberOfGivenNames"] = dataset["Name"].apply(lambda x: splitName(x)[3])
    dataset["maidenGivenNames"] = dataset["Name"].apply(lambda x: splitName(x)[4])
    dataset["maidenLastName"] = dataset["Name"].apply(lambda x: splitName(x)[5])

In [69]:
def addEmbarked(embarked):
    return np.average(dataset["Embarked"])

for dataset in datasets:
    print(dataset["Embarked"])
    if dataset["Embarked"] == None:
        dataset["Embarked"] = addEmbarked(dataset["Embarked"])

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [63]:
print(train)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked   lastNaam title  \
0        0         A/5 21171   7.2500   NaN        S     Braund    Mr
1        0          PC 17599  71.2833   C85        C    Cumings   Mrs
2        0  STON/O2. 3101282   7.9250   NaN        S  Heikkinen  Miss
3        0            113803  53.1000  C123        S   Futrelle   Mrs
4        0            373450   8.0500   NaN        S      Allen    Mr
..     ...               ...      ...   ...      ...        ...   ...
886      0            211536  13.0000   NaN        S   Montvila   Rev
887      0            112053  30.0000   B42        S     Graham  Miss
888      2        W./C. 6607  23.4500   NaN        S   Johnston  Miss
889      0            111369  30.0000  C148        C       Behr    Mr
890      0            370376   7.7500   NaN        Q     Dooley    Mr

                   givenNames  numberOfGivenNames maidenGivenNames  \
0                 Owen Harris                   2             None
1                John Bradley                   2  Florence Briggs
2                       Laina                   1             None
3               Jacques Heath                   2         Lily May
4               William Henry                   2             None
..                        ...                 ...              ...
886                    Juozas                   1             None
887            Margaret Edith                   2             None
888  Catherine Helen "Carrie"                   3             None
889               Karl Howell                   2             None
890                   Patrick                   1             None

    maidenLastName
0             None
1           Thayer
2             None
3             Peel
4             None
..             ...
886           None
887           None
888           None
889           None
890           None

[891 rows x 18 columns]

In [ ]:
from sklearn.ensemble import RandomForestClassifier

y = train["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch", "Title"]
X = pd.get_dummies(train[features])
X_test = pd.get_dummies(test[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [25]:
print(True if 19 in range(1, 10) else False)

False